<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Searches Detailed</title>
</head>
<body>
    <div>
        <p>{{user.id}}</p>
        <p>{{user.username}}</p>
        <p>{{totalSearches}}</p>
        <hr>

        <h3>{{translation.PERCENTAGES}}</h3>
        {{#each summarisedData}}
            <div>
                <h4>{{this.categoryName}}</h4>
                <p>{{this.categoryName}} was seached {{this.timesSearched}} times and represents {{this.percentage}}% of the user's total searches</p>
            </div>
            <br><br>
        {{/each}}
    </div>
</body>
</html>