<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Searches Detailed</title>
</head>
<body>
    <div>
        <p>{{user.id}}</p>
        <p>{{user.username}}</p>
        <p>{{totalSearches}}</p>
        {{#each categorisedSearches}}
            <div>
                <p>{{this.id}}</p>
                <p>{{this.categoryName}}</p>
                <p>{{this.timesSearched}}</p>
            </div>
        {{/each}}
    </div>
</body>
</html>